// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.student {  
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.education {
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 3px;
  
}

.experience {
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 3px;
  
}

.skills {
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.capstone {
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 3px;
}